body {
	font-family: 'Droid Serif', serif;
	font-size: 18px;
	color: #666;
	line-height: 28px;
}

p {
	margin: 30px 0px;
}

h1 {
	font-size: 60px;
	color: #31428E;
}

h2 {
	color: #ffa34c; 
	margin: 30px 0px;
}

h3 {
	color: rgb(30,176,236);
	margin: 30px 0px;
}

h1, h2, h3 {
	font-family: 'Varela Round', sans-serif;
}

table {
	width: 100%;
	text-align: left;
}

td, th {
	padding: 5px 0px;
}

ul {
    margin: 28px 0px;
}

.brand, .navbar, .footer {
	font-family: 'Varela Round', sans-serif;
}

.navbar .container {
	width: inherit;
}

#page-header {
	margin: 10px 0px;
}

.brand {
	margin-left: auto;
	margin-right: auto;
	display: block; 
	padding: 5px;
	text-align: center;
    min-width: 100%;
}

.brand img {
	width: 250px;
}

.brand:hover {
	text-decoration: none;
}

#brand-text {
	font-size: 40px;
	line-height: 125%;
}

#brand-tag {
	color: #31428E;
	margin-bottom: 5px;
	font-size: 25px;
}

.navbar-nav {
	text-align: center;
}

.navbar .nav {
	text-align: left;
	display: inline-block;
	float: none;
}

.navbar {
	min-height: 40px;
	background-color: rgb(30,176,236);
	background-image: none;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	text-align: center;
}

.navbar {
	margin: 0px 0px 40px 0px;
	line-height: 65%;
}

.navbar-nav>.active>a, 
.navbar-nav>.active>a:hover, 
.navbar-nav>.active>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	box-shadow: none;
	color: white;
	background-color: #0088cc;
	text-shadow: none;
}

.navbar-nav>li>a {
	text-shadow: none;
	color: white;
	box-shadow: none;
	padding: 10px 15px 10px;
}

.navbar-nav>li>a:hover {
	text-shadow: none;
	box-shadow: none;
	text-shadow: 0px 0px 5px #ffffff;
	color: white;
	background-color: rgb(30,176,236);
}

#sun {
	width: 180px;
	margin-bottom: -20px;   
	width: 155px;
	margin-top: -17px;
	margin-left: 17px;
}

.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}

.body-buffer {
	margin-top: 5em;
}
