<div class="footer">
  <div class="container-narrow stuff">
  <div class="footer-image">
    <img alt="Children Playing" src="{{urls.media}}/home-kids.png">
  </div>
    <div class="row">
      <div class="col-md-12 strapline">
	Nurturing Children......Strengthening Families......Growing Community
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
	<div class="contact">
	  <div class="address">
          Cultrath Corner<br>
          Cuilrath Street<br>  
          Coleraine<br>  
          BT52 2ER<br>
	  </div>

	  <div class="email">
	    info@harpurshillcfc.co.uk
	  </div>

	  <div class="telephone">
	    028 7032 1620
	  </div>
	</div>
      </div>
      <div class="col-sm-offset-1 col-sm-4">
	<div class="surestart">
	  In association with:
	  <img alt="Sure start logo" src="{{urls.media}}/surestart.png">
	</div>
      </div>
    </div>
    <div class="row">
      <div class="legal-status col-md-12">
	A charity registered with the Inland Revenue. Registration No:
	XR2217 Registration Number: N.I. 38516 
      </div>
    </div>
  </div>
</div>
